appnope==0.1.0
boto3==1.3.0
botocore==1.4.11
cffi==1.5.2
cryptography==1.3.1
decorator==4.0.9
dnspython==1.12.0
docutils==0.12
enum34==1.1.3
futures==3.0.5
gnureadline==6.3.3
idna==2.1
invoke==0.12.2
ipaddress==1.0.16
ipdb==0.9.3
ipython==4.1.2
ipython-genutils==0.1.0
jmespath==0.9.0
pathlib2==2.1.0
pexpect==4.0.1
pickleshare==0.7.2
ptyprocess==0.5.1
pyasn1==0.1.9
pycparser==2.14
pycrypto==2.6.1
python-dateutil==2.5.2
PyYAML==3.11
simplegeneric==0.8.1
six==1.10.0
traitlets==4.2.1
